body {
    background-image: url(../images/b8a781b23f492c1330aa9f4c7c20c93c.jpg);
    background-size: cover;
    font-weight: 600;
}

fieldset {
    border: 3px solid black;
    padding: 10px;
    width: 600px;
    font-size: 25px;
    background-color: rgba(119, 131, 211, 0.5);
    color: black;
}

legend {
    text-align: center;
    font-weight: 800;
    background-color: #757575;
    color: white;
    border-radius: 10px
}

.player {
    margin: auto;
}

.rules,
.game {
    margin-left: 30%;
    margin-top: 60px;
}

.game {
    margin-top: 40px;
}

input {
    width: 130px;
    height: 15px;
}

button {
    width: 130px;
    height: 35px;
    padding: 7px;
    font-size: 15px;
    border-radius: 5%;
    background-color: transparent;
    box-shadow: 3px 3px black;
}

#reset {
    transition: transform .5s;
}

#reset:hover {
    transform: scale(1.2);
}

#player {
    margin-left: 223px;
}

#func {
    margin-left: 205px;
    margin-top: 25px;
}

#dice {
    margin-left: 150px;
}

.vicmsg {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 450px;
    height: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
    border: 1px solid black;
    box-shadow: -5px 10px black;
    display: none;
    z-index: 10;
    background-image: linear-gradient(to bottom right, #303F9F, #C5CAE9);
    color: black;
}

.vicmsg h1 {
    padding-top: 15%;
}

.dice img {
    border-radius: 33px;
}

#dice01 {
    position: absolute;
    top: 40%;
    right: 96px;
}

#dice2 {
    position: absolute;
    top: 40%;
    left: 96px;
}